@each $i, $p in (t, top), (b, bottom), (l, left), (r, right) {
	@for $w from 0 through 30 {
		.uni-common-m#{$i}__#{$w} {
			margin-#{$p}: #{$w}px;
		}
		.uni-common-p#{$i}__#{$w} {
			padding-#{$p}: #{$w}px;
		}
	}
}

@for $f from 10 through 30 {
	.uni-common-font__#{$f} {
		font-size: #{$f}px;
	}
}

@each $i in margin, padding {
	.uni-#{$i} {
		#{$i}: 12px;
		&-x {
			#{$i}: 0 10px;
		}
		&-y {
			#{$i}: 10 0px;
		}
	}
}

.uni-page {
	box-sizing: border-box;
	min-height: 100vh;
}
.uni-bg__white {
	background-color: white;
}
.uni-width {
	width: 100%;
}
.uni-height {
	height: 100%;
}
.uni-radio {
	transform: scale(0.8);
}
.uni-container {
	padding: 12px!important;
}

.uni-card {
	background: #ffffff;
	border-radius: 8rpx;
	overflow: hidden;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}